@require 'Globals'
@require 'icons.css'

noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

adminButton() {
  noselect();
  cursor: pointer;
  font-size: 40px;
  padding: 0.5em;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.flexbox-column {
  flex-direction: clumn;
}

body {
  background-color: #d3d3d3;
}

#secret {
  noselect();
  display: none;
}

#freq {
  noselect();
  display: none;
}

#start {
  noselect();
  font-size: 50px
}

#play {
  adminButton();
}

#mute {
  adminButton();
}

#repeat {
  adminButton();
  opacity: 0.3;
}

#sequence {
  padding: 1em;
  margin-top: 4em;
  text-align: center;
  width: 100%;
}

#buttons {
  align-items: center;
  justify-content: center;
}

.btn:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn {
  user-select: none;
  text-align: center;
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: white;
  padding: 0.5em 1em 0.5em;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

