@require 'Globals'

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body {
  background-color: #d3d3d3;
}

.orb {
  mix-blend-mode: exclusion;
}

#draggable-element {
  margin-left: -100px
  top: 50%;
  left: 50%;
  cursor:move;
  position:absolute; /* important (all position that's not `static`) */
}